src/main/webapp/resources/people.xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="people" type="peopleType"/>
  <xs:complexType name="wifeType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="age"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="peopleType">
    <xs:sequence>
      <xs:element type="HusbendType" name="Husbend"/>
    </xs:sequence>
    <xs1:attribute ref="xs:SchemaLocation" xmlns:xs="http://www.w3.org/2001/10/XMLSchema-instance" xmlns:xs1="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
  <xs:complexType name="HusbendType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="age"/>
      <xs:element type="xs:string" name="profession"/>
      <xs:element type="wifeType" name="wife"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>